
.parent {
  display: flex;
  flex-wrap: wrap;
}

.child {
  flex: 1 0 20%; /* explanation below */
  margin: 5px;
  padding:5px;
  border: 1px solid darkgray;
  border-radius: .25rem!important;
  background-color: lightgray;
}

label {
  font-weight: bold;
  padding: 2px;
}
