<p>
  {{title}}
</p>

<div class="parent">
<div class="parent">
  <div *ngFor="let currency of currencies; index as i"
    routerLink="/currency/{{currency.id}}"
    class="child">
    <span>
      <div><label>id:</label> {{currency.attributes.code}}</div>
      <div><label>type:</label> {{currency.attributes.category}}</div>
      <div><label>symbol:</label> {{currency.attributes.symbol}}</div>
    </span>
  </div>
</div>
</div>
<mat-paginator [length]="nbCurrencies"
               [pageSize]="pageSize"
               [pageIndex]="currentPage"
               [showFirstLastButtons]="true"
               (page)="pageEvent = getCurrencies($event)"
               [pageSizeOptions]="[10, 50, 100]">
